body {
  margin: 0px;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  background-position: center 20%;
  }


.cabecalho {
  background: linear-gradient(to bottom, #40ae2a, #f9d72f);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0px 7px 5px 1px #f9d72f;
  margin-bottom: 8px;
}


  .logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 45px;
  }
  img{
    filter: brightness(60%);
  }
  img:hover {
    filter: brightness(100%);
  }
  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
  }
  .link{
    text-decoration: none;
    color: black;
    font-size: 22px;
    padding: 1rem 3rem;
    position: relative;
    margin-left: 50px;
    font-family: Bradley Hand, cursive;
  }
  .link::before,
  .link::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #f9d72f;
    transform: scaleX(0);
    transition: all 0.6s ease;
    }
  .link::before {
    top: 0;
    left: 0;
    transform-origin: left;
  }
  .link::after{
    bottom: 0;
    left: 0;
    transform-origin: right;
  }
  .link:hover::before,
  .link:hover::after {
    transform: scaleX(1);
  }
  .form-rec-senha,
  .form-cadastro,
  .form-cadastro-clinica,
  .form-login,
  .form-nova-senha,
  .form-token{ animation: fadeIn 3s; }
    @keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 3;}
    100% {opacity: 5;}}


  .form-rec-senha,
  .form-cadastro,
  .form-cadastro-clinica,
  .form-login,
  .form-nova-senha,
  .form-token{
    background-color: #f9d72f;
    padding: 20px 30px;
    border-radius: 35% 10% 35% 10% / 20% 35% 20% 35%;
    width: 100%;  
    max-width: 400px;  
    font-family: Bradley Hand, cursive;
    border: 2px solid black;
  } 


  #titulo_geral{
    font-family: Bradley Hand, cursive;
    margin-bottom: 7px;
    text-align: center;
  }
 #titulo_geral { animation: fadeIn 5s; }
  @keyframes fadeIn {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 5;}}
  #titulo_geral {
    color: #f9d72f;
    font-family: Bradley Hand, cursive;
    font-size: 30px;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
  }
 
  .rec-senha,
  .cadastro,
  .cadastro-clinica,
  .login,
  .nova-senha,
  .token {
    display: flex;
    align-items: center;
    width: 100%;
    font-family: Bradley Hand, cursive;
    justify-content: flex-start;
    flex-direction: column;
  }
 
  .input-container {
    margin-bottom: 20px;
    text-align: center;
  }
 
  label {
    display: block;
    margin-bottom: 5px;
  }
 
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 250px;
    font-size: 16px;
    outline: none;
    font-family: Bradley Hand, cursive;
    box-shadow: 1px 5px 5px 1px black;
  }


  form.form-rec-senha,
  form.form-cadastro,
  form.form-cadastro-clinica,
  form.form-login,
  form.form-nova-senha,
  form.form-token{
    text-align: center;
  }
 
  button[type="submit"] {
    background: linear-gradient(to bottom, #40ae2a, #40ae2a);
    color: #fff;
    border: none;
    padding: 7px 13px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 20px;
    font-family: Bradley Hand, cursive;
    box-shadow: 1px 5px 5px 1px black;
    filter: brightness(80%);
  }
  button:hover{
    filter: brightness(100%);
  }