RewriteEngine On

Options -Indexes

<Files "pagina_segura_usuario.html">
    Order Allow,Deny
    Deny from all
</Files>

<Files "verifica_sessao_usuario.php">
    Order Allow,Deny
    Allow from all
</Files>

<Files "pagina_segura_usuario2.html">
    Order Allow,Deny
    Deny from all
</Files>

<Files "verifica_sessao_usuario2.php">
    Order Allow,Deny
    Allow from all
</Files>